.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.from {
  display: flex;
  align-items: center;
  input {
    height: 4rem;
    flex-grow: 1;
    margin-right: 1rem;
    border-radius: 0.7rem;
    padding: 0.1rem;
    border-right: 1px;
  }
}
